*{
    font-family: 'Caveat', cursive;
}
body{
    background: linear-gradient(45deg,#82e39f,#91c9ee);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-index{
    height: 250px;
    width: 250px;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}
.img-index{
    animation: float 6s ease-in-out infinite;
    border-radius: 50%;
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
#container {
    /* min-height: 20%; */
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0);
    border-radius: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
p{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Caveat', cursive;
}
.botones{
    display: flex;
    justify-content: center;
}
.botones button{
    margin:5px;
}

.fa-heart {
    color: rgb(255, 255, 255);
    font-size: 25px;
    position: absolute;
    animation:  heartMove linear 1;
    top: -10vh;
    z-index: 0;
}
.button-55 {
    align-self: center;
    background-color: rgba(255, 255, 255, 0.800);
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-55:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  .button-55:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  } 

img{
    align-items: center;
    width: 80vw;
    height: auto;
    margin-bottom: 10px;
    z-index: 999999;
}
canvas{
    position:absolute;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    z-index: -9999999;
  }

@keyframes heartMove {
    0%{
        transform: translateY(-10vh) ;
    }
    100%{
        transform: translateY(110vh) ;
    }
}

#popupX{
    text-align: center;
    position: fixed;
    transform: translate(-50%, -50%);
    background: #ffffff;
    color:#000000;
    width: 500px;
    height: 400px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1),
    0 0 0 1000px #82e39f9d;
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
    padding: 40px;
    visibility: visible;
    -webkit-animation: vibrate-1 0.3s linear infinite both;
    animation: vibrate-1 0.3s linear infinite both;
}

.text-popup{
    font-family:'Calibri';
    font-size: 1.5rem;
}
.text-popup-g{
    font-family: 'Fjalla One', sans-serif;
    font-size: 2rem;
    color:#df5757;
}

.text-popup-p{
    font-family:'Calibri';
    font-size: .7rem;
}
.flicker-5  {
    font-family: 'Fjalla One', sans-serif;
    font-size: 4rem;
	-webkit-animation: flicker-5 10s linear infinite both;
	        animation: flicker-5 10s linear infinite both;
}

.text-pop-up-top {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



/* ----------------------------------------------
 * Generated by Animista on 2022-5-26 11:31:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flicker-5
 * ----------------------------------------
 */
 @-webkit-keyframes flicker-5 {
    0%,
    100% {
      opacity: 1;
    }
    0.02% {
      opacity: 1;
    }
    0% {
      opacity: 1;
    }
    1% {
      opacity: 1;
    }
    1.02% {
      opacity: 1;
    }
    8.98% {
      opacity: 1;
    }
    9% {
      opacity: 0;
    }
    9.8% {
      opacity: 0;
    }
    9.82% {
      opacity: 0;
    }
    9.48% {
      opacity: 1;
    }
    9.5% {
      opacity: 1;
    }
    9.6% {
      opacity: 1;
    }
    9.62% {
      opacity: 1;
    }
    14.98% {
      opacity: 0;
    }
    15% {
      opacity: 0.5;
    }
    15.8% {
      opacity: 0.5;
    }
    15.82% {
      opacity: 1;
    }
    15.18% {
      opacity: 0;
    }
    15.2% {
      opacity: 0.7;
    }
    16% {
      opacity: 0.7;
    }
    16.02% {
      opacity: 1;
    }
    15.48% {
      opacity: 1;
    }
    15.5% {
      opacity: 0.5;
    }
    16.2% {
      opacity: 0.5;
    }
    16.22% {
      opacity: 1;
    }
    16.98% {
      opacity: 1;
    }
    17% {
      opacity: 1;
    }
    17.8% {
      opacity: 1;
    }
    17.82% {
      opacity: 1;
    }
    20.48% {
      opacity: 1;
    }
    20.5% {
      opacity: 0.9;
    }
    21.3% {
      opacity: 0.9;
    }
    21.32% {
      opacity: 1;
    }
    20.98% {
      opacity: 1;
    }
    21% {
      opacity: 1;
    }
    22% {
      opacity: 1;
    }
    22.02% {
      opacity: 1;
    }
    39.98% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    41% {
      opacity: 1;
    }
    41.02% {
      opacity: 1;
    }
    40.48% {
      opacity: 1;
    }
    40.5% {
      opacity: 0.6;
    }
    41.4% {
      opacity: 0.6;
    }
    41.42% {
      opacity: 0;
    }
    41.98% {
      opacity: 1;
    }
    42% {
      opacity: 1;
    }
    42.8% {
      opacity: 1;
    }
    42.82% {
      opacity: 1;
    }
    59.98% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    61% {
      opacity: 1;
    }
    61.02% {
      opacity: 0;
    }
    60.18% {
      opacity: 0;
    }
    60.2% {
      opacity: 0.2;
    }
    61% {
      opacity: 0.2;
    }
    61.02% {
      opacity: 1;
    }
    60.78% {
      opacity: 1;
    }
    60.8% {
      opacity: 0.4;
    }
    61.6% {
      opacity: 0.4;
    }
    61.62% {
      opacity: 1;
    }
    61.38% {
      opacity: 1;
    }
    61.4% {
      opacity: 0;
    }
    62.2% {
      opacity: 0;
    }
    62.22% {
      opacity: 1;
    }
    61.78% {
      opacity: 1;
    }
    61.8% {
      opacity: 1;
    }
    62.8% {
      opacity: 1;
    }
    62.82% {
      opacity: 1;
    }
    75.98% {
      opacity: 1;
    }
    76% {
      opacity: 1;
    }
    77% {
      opacity: 1;
    }
    77.02% {
      opacity: 1;
    }
    77.98% {
      opacity: 1;
    }
    78% {
      opacity: 0.7;
    }
    78.8% {
      opacity: 0.7;
    }
    78.82% {
      opacity: 1;
    }
    78.98% {
      opacity: 1;
    }
    79% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    80.02% {
      opacity: 1;
    }
    99.98% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
    101% {
      opacity: 1;
    }
    101.02% {
      opacity: 1;
    }
  }
  @keyframes flicker-5 {
    0%,
    100% {
      opacity: 1;
    }
    0.02% {
      opacity: 1;
    }
    0% {
      opacity: 1;
    }
    1% {
      opacity: 1;
    }
    1.02% {
      opacity: 1;
    }
    8.98% {
      opacity: 0;
    }
    9% {
      opacity: 0;
    }
    9.8% {
      opacity: 0;
    }
    9.82% {
      opacity: 1;
    }
    9.48% {
      opacity: 1;
    }
    9.5% {
      opacity: 1;
    }
    9.6% {
      opacity: 1;
    }
    9.62% {
      opacity: 1;
    }
    14.98% {
      opacity: 1;
    }
    15% {
      opacity: 0.5;
    }
    15.8% {
      opacity: 0.5;
    }
    15.82% {
      opacity: 0;
    }
    15.18% {
      opacity: 1;
    }
    15.2% {
      opacity: 0.7;
    }
    16% {
      opacity: 0.7;
    }
    16.02% {
      opacity: 1;
    }
    15.48% {
      opacity: 1;
    }
    15.5% {
      opacity: 0.5;
    }
    16.2% {
      opacity: 0.5;
    }
    16.22% {
      opacity: 0;
    }
    16.98% {
      opacity: 0;
    }
    17% {
      opacity: 1;
    }
    17.8% {
      opacity: 1;
    }
    17.82% {
      opacity: 1;
    }
    20.48% {
      opacity: 1;
    }
    20.5% {
      opacity: 0.9;
    }
    21.3% {
      opacity: 0.9;
    }
    21.32% {
      opacity: 1;
    }
    20.98% {
      opacity: 1;
    }
    21% {
      opacity: 1;
    }
    22% {
      opacity: 1;
    }
    22.02% {
      opacity: 1;
    }
    39.98% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    41% {
      opacity: 1;
    }
    41.02% {
      opacity: 1;
    }
    40.48% {
      opacity: 1;
    }
    40.5% {
      opacity: 0.6;
    }
    41.4% {
      opacity: 0.6;
    }
    41.42% {
      opacity: 1;
    }
    41.98% {
      opacity: 1;
    }
    42% {
      opacity: 1;
    }
    42.8% {
      opacity: 0.3;
    }
    42.82% {
      opacity: 1;
    }
    59.98% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    61% {
      opacity: 1;
    }
    61.02% {
      opacity: 0;
    }
    60.18% {
      opacity: 0;
    }
    60.2% {
      opacity: 0.2;
    }
    61% {
      opacity: 0.2;
    }
    61.02% {
      opacity: 1;
    }
    60.78% {
      opacity: 1;
    }
    60.8% {
      opacity: 0.4;
    }
    61.6% {
      opacity: 0.4;
    }
    61.62% {
      opacity: 1;
    }
    61.38% {
      opacity: 1;
    }
    61.4% {
      opacity: 0;
    }
    62.2% {
      opacity: 0;
    }
    62.22% {
      opacity: 0;
    }
    61.78% {
      opacity: 1;
    }
    61.8% {
      opacity: 1;
    }
    62.8% {
      opacity: 1;
    }
    62.82% {
      opacity: 1;
    }
    75.98% {
      opacity: 0;
    }
    76% {
      opacity: 1;
    }
    77% {
      opacity: 1;
    }
    77.02% {
      opacity: 0;
    }
    77.98% {
      opacity: 0;
    }
    78% {
      opacity: 0.7;
    }
    78.8% {
      opacity: 0.7;
    }
    78.82% {
      opacity: 1;
    }
    78.98% {
      opacity: 1;
    }
    79% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    80.02% {
      opacity: 1;
    }
    99.98% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
    101% {
      opacity: 0;
    }
    101.02% {
      opacity: 0.5;
    }
  }
  




 
  /* ----------------------------------------------
 * Generated by Animista on 2022-5-26 10:55:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @media (max-width: 600px) {
    #popupX{
        width: 100%;
        height: 60%;
    }
  }


